body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:540px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
.u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:540px;
  font-size:36px;
}
.u960 {
  position:absolute;
  left:2px;
  top:262px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:540px;
}
#u957-2 {
  position:absolute;
  left:0px;
  top:541px;
  width:960px;
  height:540px;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:1081px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:353px;
  background:inherit;
  background-color:rgba(45, 44, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u962 {
  position:absolute;
  left:0px;
  top:1067px;
  width:960px;
  height:353px;
}
#u963 {
  position:absolute;
  left:2px;
  top:168px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u965 {
  position:absolute;
  left:50px;
  top:1205px;
  width:225px;
  height:34px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u966 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#FFFFFF;
}
#u967 {
  position:absolute;
  left:96px;
  top:1140px;
  width:137px;
  height:55px;
  font-size:48px;
  color:#FFFFFF;
}
#u968 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u969 {
  position:absolute;
  left:36px;
  top:1244px;
  width:242px;
  height:17px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  white-space:nowrap;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:125px;
}
#u971 {
  position:absolute;
  left:325px;
  top:1140px;
  width:1px;
  height:124px;
}
#u972 {
  position:absolute;
  left:2px;
  top:54px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u973 {
  position:absolute;
  left:350px;
  top:1149px;
  width:300px;
  height:168px;
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u974 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:125px;
}
#u975 {
  position:absolute;
  left:691px;
  top:1140px;
  width:1px;
  height:124px;
}
#u976 {
  position:absolute;
  left:2px;
  top:54px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:28px;
}
#u977 {
  position:absolute;
  left:710px;
  top:1149px;
  width:200px;
  height:28px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:28px;
}
#u978 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:28px;
}
#u979 {
  position:absolute;
  left:710px;
  top:1280px;
  width:200px;
  height:28px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:28px;
}
#u980 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u981 {
  position:absolute;
  left:710px;
  top:1189px;
  width:60px;
  height:60px;
}
#u982 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u983 {
  position:absolute;
  left:857px;
  top:1189px;
  width:60px;
  height:60px;
}
#u984 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u985 {
  position:absolute;
  left:780px;
  top:1189px;
  width:60px;
  height:60px;
}
#u986 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u987 {
  position:absolute;
  left:110px;
  top:1360px;
  width:780px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u988 {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  word-wrap:break-word;
}
#u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:139px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u989 {
  position:absolute;
  left:70px;
  top:160px;
  width:80px;
  height:139px;
  font-size:18px;
  color:#FFFFFF;
}
#u990 {
  position:absolute;
  left:2px;
  top:47px;
  width:76px;
  word-wrap:break-word;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(191, 167, 142, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u992 {
  position:absolute;
  left:190px;
  top:199px;
  width:600px;
  height:100px;
}
#u992_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:100px;
  background:inherit;
  background-color:rgba(191, 167, 142, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u992.selected {
}
#u993 {
  position:absolute;
  left:2px;
  top:42px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u994 {
  position:absolute;
  left:191px;
  top:200px;
  width:199px;
  height:98px;
}
#u994_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:98px;
  background:inherit;
  background-color:rgba(191, 167, 142, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u994.selected {
}
#u995 {
  position:absolute;
  left:2px;
  top:26px;
  width:195px;
  word-wrap:break-word;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u996 {
  position:absolute;
  left:390px;
  top:200px;
  width:199px;
  height:98px;
}
#u996_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:98px;
  background:inherit;
  background-color:rgba(191, 167, 142, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u996.selected {
}
#u997 {
  position:absolute;
  left:2px;
  top:26px;
  width:195px;
  word-wrap:break-word;
}
#u998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u998 {
  position:absolute;
  left:590px;
  top:200px;
  width:199px;
  height:98px;
}
#u998_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:98px;
  background:inherit;
  background-color:rgba(191, 167, 142, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u998.selected {
}
#u999 {
  position:absolute;
  left:2px;
  top:26px;
  width:195px;
  word-wrap:break-word;
}
#u1000 {
  position:absolute;
  left:50px;
  top:308px;
  width:860px;
  height:700px;
  overflow:hidden;
}
#u1000_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:700px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1000_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:325px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
.u1002 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:325px;
  font-size:36px;
}
.u1003 {
  position:absolute;
  left:2px;
  top:154px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:325px;
}
#u1001-2 {
  position:absolute;
  left:0px;
  top:341px;
  width:396px;
  height:325px;
}
#u1001-3 {
  position:absolute;
  left:412px;
  top:0px;
  width:396px;
  height:325px;
}
#u1001-4 {
  position:absolute;
  left:412px;
  top:341px;
  width:396px;
  height:325px;
}
#u1001 {
  position:absolute;
  left:10px;
  top:10px;
  width:808px;
  height:666px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1000_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:700px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1000_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:325px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
.u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:325px;
  font-size:36px;
}
.u1006 {
  position:absolute;
  left:2px;
  top:154px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:325px;
}
#u1004-2 {
  position:absolute;
  left:0px;
  top:341px;
  width:396px;
  height:325px;
}
#u1004-3 {
  position:absolute;
  left:412px;
  top:0px;
  width:396px;
  height:325px;
}
#u1004-4 {
  position:absolute;
  left:412px;
  top:341px;
  width:396px;
  height:325px;
}
#u1004 {
  position:absolute;
  left:10px;
  top:10px;
  width:808px;
  height:666px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1000_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:700px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1000_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:325px;
  background:inherit;
  background-color:rgba(191, 167, 142, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
.u1008 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:325px;
  font-size:36px;
}
.u1009 {
  position:absolute;
  left:2px;
  top:154px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:325px;
}
#u1007-2 {
  position:absolute;
  left:0px;
  top:341px;
  width:396px;
  height:325px;
}
#u1007-3 {
  position:absolute;
  left:412px;
  top:0px;
  width:396px;
  height:325px;
}
#u1007-4 {
  position:absolute;
  left:412px;
  top:341px;
  width:396px;
  height:325px;
}
#u1007 {
  position:absolute;
  left:10px;
  top:10px;
  width:808px;
  height:666px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1012_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:963px;
  height:5px;
}
#u1012 {
  position:absolute;
  left:0px;
  top:54px;
  width:960px;
  height:2px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:-7px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014 {
  position:absolute;
  left:730px;
  top:0px;
}
#u1014_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1014_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1015 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1016 {
  position:absolute;
  left:2px;
  top:18px;
  width:176px;
  word-wrap:break-word;
}
#u1014_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1014_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:80px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1017 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:80px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1018 {
  position:absolute;
  left:2px;
  top:32px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1019 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:60px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1020 {
  position:absolute;
  left:2px;
  top:18px;
  width:176px;
  word-wrap:break-word;
}
#u1021 {
  position:absolute;
  left:10px;
  top:38px;
  width:160px;
  height:32px;
}
#u1021_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1022 {
  position:absolute;
  left:40px;
  top:10px;
  width:103px;
  height:19px;
  font-size:16px;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1024 {
  position:absolute;
  left:10px;
  top:10px;
  width:18px;
  height:18px;
  font-size:18px;
}
#u1025 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  color:#BFA88D;
  text-align:center;
}
#u1026 {
  position:absolute;
  left:350px;
  top:38px;
  width:200px;
  height:29px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  color:#BFA88D;
  text-align:center;
}
#u1027 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
.u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
.u1030 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  font-size:18px;
}
.u1031 {
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u1029-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u1029-2 {
  position:absolute;
  left:110px;
  top:0px;
  width:110px;
  height:40px;
}
#u1029-3 {
  position:absolute;
  left:220px;
  top:0px;
  width:110px;
  height:40px;
}
#u1029-4 {
  position:absolute;
  left:330px;
  top:0px;
  width:110px;
  height:40px;
}
#u1029-5 {
  position:absolute;
  left:440px;
  top:0px;
  width:110px;
  height:40px;
}
#u1029-6 {
  position:absolute;
  left:550px;
  top:0px;
  width:110px;
  height:40px;
}
#u1029-7 {
  position:absolute;
  left:660px;
  top:0px;
  width:110px;
  height:40px;
}
#u1029-8 {
  position:absolute;
  left:770px;
  top:0px;
  width:110px;
  height:40px;
}
#u1029 {
  position:absolute;
  left:10px;
  top:81px;
  width:880px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1032 {
  position:absolute;
  left:340px;
  top:81px;
}
#u1032_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1032_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u1033 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u1032_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1032_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u1035 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
.u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
.u1038 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
.u1039 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
.u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:2px;
}
.u1040 {
  position:absolute;
  left:10px;
  top:35px;
  width:100px;
  height:1px;
}
.u1041 {
  position:absolute;
  left:2px;
  top:-8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u1037-2 {
  position:absolute;
  left:0px;
  top:40px;
  width:110px;
  height:40px;
}
#u1037-3 {
  position:absolute;
  left:0px;
  top:80px;
  width:110px;
  height:40px;
}
#u1037 {
  position:absolute;
  left:0px;
  top:50px;
  width:110px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1042 {
  position:absolute;
  left:230px;
  top:81px;
}
#u1042_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1042_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u1043 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  font-size:18px;
}
#u1044 {
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u1042_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1042_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u1045 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  font-size:18px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
.u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
.u1048 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
.u1049 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
.u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:2px;
}
.u1050 {
  position:absolute;
  left:10px;
  top:35px;
  width:100px;
  height:1px;
}
.u1051 {
  position:absolute;
  left:2px;
  top:-8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u1047-2 {
  position:absolute;
  left:0px;
  top:40px;
  width:110px;
  height:40px;
}
#u1047-3 {
  position:absolute;
  left:0px;
  top:80px;
  width:110px;
  height:40px;
}
#u1047 {
  position:absolute;
  left:0px;
  top:50px;
  width:110px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1052 {
  position:absolute;
  left:120px;
  top:81px;
}
#u1052_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1052_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u1053 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  font-size:18px;
}
#u1054 {
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u1052_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1052_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  font-size:18px;
}
#u1056 {
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
.u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
.u1058 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
.u1059 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
.u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:2px;
}
.u1060 {
  position:absolute;
  left:10px;
  top:35px;
  width:100px;
  height:1px;
}
.u1061 {
  position:absolute;
  left:2px;
  top:-8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u1057-2 {
  position:absolute;
  left:0px;
  top:40px;
  width:110px;
  height:40px;
}
#u1057-3 {
  position:absolute;
  left:0px;
  top:80px;
  width:110px;
  height:40px;
}
#u1057-4 {
  position:absolute;
  left:0px;
  top:120px;
  width:110px;
  height:40px;
}
#u1057-5 {
  position:absolute;
  left:0px;
  top:160px;
  width:110px;
  height:40px;
}
#u1057-6 {
  position:absolute;
  left:0px;
  top:200px;
  width:110px;
  height:40px;
}
#u1057 {
  position:absolute;
  left:0px;
  top:50px;
  width:110px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
